.editimage{
	height: 100%;
	position: relative;
}

.editimage-hidden {
    visibility: hidden;
}

.botao {
	padding: 1px 6px 1px 6px;
  	background-color: transparent;
  	border: 0px;
  	width: 40px;
  	height: 40px;  
  	cursor: pointer;
}

.botao:hover{
  color: #428bca;
}


.botao span{
  font-size: 18px;
}


.painel-controle {
  	position: relative;
    display: inline-block;
  	min-width: 40px;
  	width: 2.09%;
  	border: 1px solid #000000;
  	padding-top: 10px;
  	float: left;
}

.painel-ferramentas {
  	position: relative;
    display: inline-block;
  	min-width: 40px;
  	width: 2.09%;
  	border: 1px solid #000000;
  	float: left;
}

@media screen and (max-width: 927px) {
    .painel-controle {
	  	position: relative;
        display: inline-block;
	  	width: 160px;
	  	border: 1px solid #000000;
	  	padding-top: 1px;
	}
}

.container{
	float: left;
  	position: relative;
    display: inline-block;
  	width: 850px;
  	height: 658px;
  	border: 1px solid #000000;
}

.botao-selecionar-imagem{	
	display: none;
}