
.icon-selecionar-imagem:before { content: '\e800'; } /* '' */
.icon-retangulo:before { content: '\e801'; } /* '' */
.icon-elipse:before { content: '\e802'; } /* '' */
.icon-linha:before { content: '\e804'; } /* '' */